:root {
  --in-out-text-decoration-color: #f00;
  --input-file-bg: #ffe6cc;
  --standart-border: 1px solid;
	--button-padding: 3px 10px 3px 10px;
  --input-padding: 6px 10px 6px 10px;
}

body {
  align-content: center;
  display: flex;
  flex-direction: column;
  height: 97vh;
  min-height: 500px;
  min-width: 1000px;
  overflow: auto;
  width: 100%;
  margin: 0;
}

#audio-input-container{
  align-content: center;
  background: var(--input-file-bg);
  display: flex;
  flex: 1;
  justify-content: center;
}

#audio-file{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5%;
}

#duration-container{
  display: flex;
  flex-direction: row;
}

#audio-output-container{
  flex: 1;
}

.slidecontainer {
  width: 620px;
}

.vid-area {
  display: flex;
  flex: 2;
  flex-direction: column;
  margin: auto;
  max-width: 620px;
  text-align: center;
}

canvas{
  height: 0;
}

.left {
  flex: 1;
  text-align: left;
}

.right {
  flex: 1;
  text-align: right;
}

.in-out {
  text-decoration: underline;
  text-decoration-color: var(--in-out-text-decoration-color);
}

.center {
  text-align: center;
}

button {
	border: var(--standart-border) gray;
	background-color: white;
	border-radius: 5px;
	padding: var(--button-padding);
	cursor: pointer;
}

#timeInput2 {
  border: var(--standart-border) gray;
  border-radius: 5px;
  padding: var(--input-padding);
}